.pageNav {
   /* min-height: 80px; */
   /* padding: 10px; */
   /* background-color: lightcoral; */
}

.navItems {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   list-style: none;
   font-size: 1.2rem;
   cursor: pointer;
   flex-grow: 1;
   min-width: 0%;
   z-index: 1;
}

.navLink {
   text-decoration: none; /* Removes underline */
   color: inherit; /* Ensures it inherits text color */
   padding: 8px 12px;
   display: inline-block;
}

li {
   /* color: inherit; */
   /* padding: 0.75rem; */
}

.selectedNavItem {
   background-color: rgb(218, 229, 250);
   text-shadow: none;
   color: rgb(24, 24, 24);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top: 4px solid darkblue;
}

.login {
}

.homeIcon {
   margin: 20px 10px;
   cursor: pointer;
}
